<footer class="footer  <%= is_arabic? ? 'text-right-custom': '' %>" >
  <div class="footer-container-inner">
    <div class="footer-data-container">
      <div class="footer-col footer-col1">
        <div class="footer-col-heading">
          PlusOne
        </div>
        <div class="footer-col-text">
          <%= t :about_us_text %>
        </div>

      </div>
      <div class="footer-col footer-col2">
        <div class="footer-col-heading">
          <%#= t :useful_link %>
          &nbsp;
        </div>
        <a class="footer-col-link" href="/">
          <div class="footer-col-link footer-col-link1"><%= t :home %></div></a>
        <a class="footer-col-link" href="<%= about_path %>">
          <div class="footer-col-link footer-col-link3"><%= t :about_us %></div></a>
        <a class="footer-col-link" href="<%= contact_path %>">
        <div class="footer-col-link footer-col-link4"><%= t :contact %></div>
        </a>
        <a class="footer-col-link" href="<%= faq_path %>">
          <div class="footer-col-link footer-col-link4"> <%= t :faq %></div></a>

      </div>
      <div class="footer-col footer-col3">
<!--        <div class="footer-col-heading">-->
<!--          Instagram-->
<!--        </div>-->
<!--        <div class="footer-col-instagram-grid">-->
<!--          <img src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/26405435_524198084627230_4393086906208878592_n.jpg?_nc_ht=scontent.cdninstagram.com&oh=494377ce4332c275946d113e86ed4ee2&oe=5E6DCCE3" alt="insta" class="footer-insta-image">-->
<!--          <img src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/26405435_524198084627230_4393086906208878592_n.jpg?_nc_ht=scontent.cdninstagram.com&oh=494377ce4332c275946d113e86ed4ee2&oe=5E6DCCE3" alt="insta" class="footer-insta-image">-->
<!--          <img src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/26405435_524198084627230_4393086906208878592_n.jpg?_nc_ht=scontent.cdninstagram.com&oh=494377ce4332c275946d113e86ed4ee2&oe=5E6DCCE3" alt="insta" class="footer-insta-image">-->
<!--          <img src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/26405435_524198084627230_4393086906208878592_n.jpg?_nc_ht=scontent.cdninstagram.com&oh=494377ce4332c275946d113e86ed4ee2&oe=5E6DCCE3" alt="insta" class="footer-insta-image">-->
<!--          <img src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/26405435_524198084627230_4393086906208878592_n.jpg?_nc_ht=scontent.cdninstagram.com&oh=494377ce4332c275946d113e86ed4ee2&oe=5E6DCCE3" alt="insta" class="footer-insta-image">-->
<!--          <img src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/26405435_524198084627230_4393086906208878592_n.jpg?_nc_ht=scontent.cdninstagram.com&oh=494377ce4332c275946d113e86ed4ee2&oe=5E6DCCE3" alt="insta" class="footer-insta-image">-->
<!--        </div>-->
      </div>
      <div class="footer-col footer-col4">
        <div class="footer-col-heading">
                    &nbsp;
                  </div>
        <div class="footer-socail-link">
          <i class="fa fa-facebook footer-icon"></i>
          <i class="fa fa-instagram footer-icon"></i>
          <i class="fa fa-youtube footer-icon"></i>
          <!--          <i class="fa fa-twitter footer-icon" ></i>-->
          <!--          <i class="fa fa-google-plus footer-icon"></i>-->
          <!--          <i class="fa fa-pinterest footer-icon"></i>-->
        </div>
<!--        <div class="footer-col-heading">-->
<!--          Twitter-->
<!--        </div>-->
<!--        <div class="footer-col-twitter-hash-tag">-->

<!--          https://t.co/o3eGXK14AV-->
<!--        </div>-->
      </div>
    </div>
  </div>
</footer>
<div class="move-up">

    <i class="fa fa-arrow-up"></i>

</div>