<header>
  <div class="menu-bar u-d-flex u-align-item-center d-done-at-md u-justify-content-space-between">

    <div class="menu-items-container u-d-flex u-justify-content-space-between u-flex-1">
      <div class="logo-container u-d-flex u-justify-content-center">
        <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/main-logo.jpg" alt="Logo" class="logo-image">
      </div>
      <div class="menu-items-center u-flex-1 menu-item-mob">
      <div class="menu-items u-d-flex ">
        <div class="menu-item active">
         <a href="<%= root_path %>"> <%= t :home %> </a>
        </div>
<!--        <div class="menu-item">Treatment</div>-->
        <div class="menu-item"><a href="<%= about_path %>"><%= t :about_us %> </a></div>
        <div class="menu-item"><a href="<%= contact_path%>"><%= t :contact %> </a></div>
      </div>
      </div>
      <div class="menu-item-right u-d-flex u-align-item-center">
        <div class="phone-container">
          <div class="icon-container ">
            <i class="fa fa-phone fa-rotate-270 fa-lg"></i>
            <span> Call US</span>
            <span class="active">1-677-124-44227</span>
          </div>
        </div>

        <div class="depricon-icon menu-item-icon">
          <i class="fa fa-bars"></i>
        </div>
        <div>
          <select class="language-controller" id="language-change">

            <option value="en">English</option>

            <option value="ar">Arabic</option>
          </select>
        </div>
      </div>
    </div>
  </div>
<!-- <Mobile-header>-->
  <nav class="navbar navbar-expand-lg navbar-light bg-white nav-bar-mobile d-md-none">
    <button class="navbar-toggler botton-nav-bar" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars fa-lg fa-black-color"></i>
    </button>
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/main-logo.jpg" alt="Logo" class="logo-image-md">

    </a>

    <div class="collapse navbar-collapse nav-bar-collapse-data" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link nav-link-mb" href="<%= root_path %>">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-mb" href="<%= about_path %>">About us </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-mb nav-link-mb-b-0" href="<%= contact_path%>">Contact </a>
        </li>

      </ul>
    </div>
  </nav>

</header>
