<section class="cards-section <%= is_arabic? ? 'text-right-custom': '' %>">
    <div class="cards-container">
      <div class="cards-row">
        <div class="health-cards">
          <div class="health-cards-header">
            <div class="health-card-img-container">
              <%= image_tag 'Slider2/1.jpg', class: 'health-card-img' %>
            </div>
          </div>
          <div class="health-card-heading">
            <%= t  :world_renowned_experts %>
          </div>
          <div class="health-card-text gray-text">
            <%= t  :our_experts %>
          </div>
        </div>
        <div class="health-cards">
          <div class="health-cards-header">
            <div class="health-card-img-container">
              <%= image_tag 'Slider2/1.jpg', class: 'health-card-img',alt: 'image' %>

              <!--              <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/img-2.jpg" alt="image" class="health-card-img">-->
            </div>
          </div>
          <div class="health-card-heading">
            <%= t  :world_renowned_experts %>
          </div>
          <div class="health-card-text gray-text">
            <%= t  :case_manager %>
          </div>
        </div>
        <div class="health-cards health-blue-card">
          <div class="health-card-text-white-sm">
            <%= t :always_there %>
          </div>
          <div class="health-card-heading-white">
            <%= t :working_hour %>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              <%= t :monday %>
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              <%= t :tuesday %>
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
             <%= t :wednesday %>
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              <%= t :thursday %>
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
             <%= t :friday %>
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
             <%= t :saturday %>/ <%= t :sunday %>
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              CLOSED
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  