<div class="padding-top-75 <%= is_arabic? ? 'text-right-custom': '' %>">
  <section class="slider">
    <div class="slider-back-image-container slider-back-image-container-faq">
      <div class="slider-text-container">
        <div class="slider-heading heading-lg p-4">
          <%= t :faq %>
        </div>
        <div class="slider-text white-text">

        </div>
      </div>
    </div>
  </section>
  <h1 class="text-center mt-5 mb-5 ">

  </h1>

  <div class="container">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header card-header-custom" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <%= t :Q1 %>
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body " >
            <% if  is_arabic? %>
              يوفر PlusOne  بلس وان للمرضى القدرة على الحصول على رأي خبير طبي عالمي. ويمكنك أيضًا طلب الحصول على خدماتنا من خلال طبيبك المعالج أو مديري الحالات لدينا الذين هم أطباء مؤهلون أيضًا.
              قم باستشارة أحد الخبراء من هنا
              <span class="btns btns-submit btn-link-an"style="padding: 10px ">
                <a href="/contact" style="direction: ltr">
            <%= t :ask_plus_one_expert %></a>
              </span>
              وسيقوم فريقنا بالرد عليك خلال يومين عمل
            <% else %>
              PlusOne gives patients the ability to get a Second Opinion from world-renowned experts. You can also request to receive our services through your treating doctor or our Case Managers who are qualified physicians themselves. Get your Second Opinion by starting here
              <span class="btns btns-submit btn-link-an" style="padding: 10px 10px">
                <a href="/contact">Ask PlusOne Expert</a> </span>Our team will get back to you within two business days.
            <% end %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-custom" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             <%= t :Q2 %>
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <%= t :Q2Ans %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-custom" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
             <%= t :Q3 %>
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <%= t :Q3Ans %>
          </div>
        </div>
      </div>

  <div class="card">
    <div class="card-header card-header-custom" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          <%= t :Q4 %>
        </button>
      </h2>
    </div>

    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <%= t :Q4Ans %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header card-header-custom" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link btn-plus-button" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          <%= t :Q5 %>
        </button>
      </h2>
    </div>

    <div id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <%= t :Q5Ans %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header card-header-custom" id="headingSeven">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
          <%= t :Q6 %>
        </button>
      </h2>
    </div>

    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
      <div class="card-body">
        <%= t :Q6Ans %>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="padding-top-75">
</div>
</div>

