<main>
  <div id="slideshow" class="sliders">
    <div class="active-slide slide">
      <%= image_tag "Slider1Pictures/1.jpg", class:"image" %>
    </div>
    <div class="slide">
      <%= image_tag "Slider1Pictures/2.jpg", class:"image" %>
    </div>
    <div class="slide">
      <%= image_tag "Slider1Pictures/3.jpg", class:"image" %>
    </div>
  </div>
  <section class="services-section">
    <div class="services-container">
      <div class="services-item">
        <div class="services-icon">
          <i class="fa fa-ambulance fa-4x active"></i>
        </div>
        <div class="services-detail">
          <div class="services-heading heading-s">People first</div>
          <div class="services-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
      <div class="services-item">
        <div class="services-icon">
          <i class="fa fa-ambulance fa-4x active"></i>
        </div>
        <div class="services-detail">
          <div class="services-heading heading-s">Quality care</div>
          <div class="services-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
      <div class="services-item">
        <div class="services-icon">
          <i class="fa fa-phone fa-rotate-270 fa-4x active"></i>
        </div>
        <div class="services-detail services-detail-border-none">
          <div class="services-heading heading-s">Great service</div>
          <div class="services-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render partial: 'working_hours' %>
  <section class="quality-container">
    <div class="quality-background-container">
      <div class="quality-left-side">
          <div class="quality-item">
            <div class="quality-item-left">
              <div class="quality-item-left-icon">
                <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/icon-1-1.png" alt="icon" class="icon-photo">
              </div>
            </div>
              <div class="quality-item-right">
                <div class="quality-item-heading">
                  With us, it’s always personal
                </div>
                <div class="quality-item-text gray-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
          </div>
        <div class="quality-item">
          <div class="quality-item-left">
            <div class="quality-item-left-icon">
              <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/icon-2-1.png" alt="icon" class="icon-photo">
            </div>
          </div>
          <div class="quality-item-right">
            <div class="quality-item-heading">
              The Highest Quality Healthcare
            </div>
            <div class="quality-item-text gray-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>
        <div class="quality-item">
          <div class="quality-item-left">
            <div class="quality-item-left-icon">
              <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/icon-3-1.png" alt="icon" class="icon-photo">
            </div>
          </div>
          <div class="quality-item-right">
            <div class="quality-item-heading">
              Improving the Quality of Your Life at Home
            </div>
            <div class="quality-item-text gray-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>
        <div class="quality-item">
          <div class="quality-item-left">
            <div class="quality-item-left-icon">
              <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/icon-4.png" alt="icon" class="icon-photo">
            </div>
          </div>
          <div class="quality-item-right">
            <div class="quality-item-heading">
              Leading the Way in Medical Excellence
            </div>
            <div class="quality-item-text gray-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>

      </div>
      <div class="quality-right-side">

      </div>
    </div>
  </section>
  <section class="counter-container">
    <div class="counter-back-image">
      <div class="counter-background-color-blue">
        <div class="counter-item">
          <div class="count counter-value">
            189
          </div>
          <div class="counter-name">
            Happy Patients
          </div>
        </div>
        <div class="counter-item">
          <div class="count counter-value">
            2590
          </div>
          <div class="counter-name">
            Health Departments
          </div>
        </div>
        <div class="counter-item">
          <div class="count counter-value">
            347
          </div>
          <div class="counter-name">
            Blood Donations
          </div>
        </div>
        <div class="counter-item">
          <div class="count counter-value">
            1912
          </div>
          <div class="counter-name">
            Different Services
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render partial: 'qualified' %>
  <section class="reviews-container">
    <div class="reviews-inner-container">

       <%= render partial: 'form' %>

      <div class="reviews-right-side reviews-sides">
        <div class="reviews-heading-black heading-lg">
          Customer Reviews
        </div>
        <div class="reviews-review-container">
          <div class="reviews-review-left">
            <i class="fa fa-quote-right active fa-2x"></i>
          </div>
          <div class="reviews-review-right">
            <div class="reviews-review-right-top gray-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Aliquam commodi consequatur deleniti distinctio, enim, eveniet perferendis porro quasi quo
              reprehenderit repudiandae sed sequi unde voluptatibus.
            </div>
            <div class="reviews-review-right-bottom">
              <div class="reviews-review-right-photo">
                <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/test-1.png" alt="photo-icon" class="profile-image">
              </div>
              <div>
              <div class="reviews-review-reviewer-name heading-md">
                Mario Hughes
              </div>
              <div class="reviews-review-reviewer-position">
                PEDIATRIC CENTER
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews-review-container">
          <div class="reviews-review-left">
            <i class="fa fa-quote-right fa-2x active"></i>
          </div>
          <div class="reviews-review-right">
            <div class="reviews-review-right-top gray-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Aliquam commodi consequatur deleniti distinctio, enim, eveniet perferendis porro quasi quo
              reprehenderit repudiandae sed sequi unde voluptatibus.
            </div>
            <div class="reviews-review-right-bottom">
              <div class="reviews-review-right-photo">
                <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/test-1.png" alt="photo-icon" class="profile-image">
              </div>
              <div>
              <div class="reviews-review-reviewer-name heading-md">
                Mario Hughes
              </div>
              <div class="reviews-review-reviewer-position">
                PEDIATRIC CENTER
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!--<a href="<%#= new_booking_path%>"> Create booking</a>-->
