<main class="padding-top-75 ">
  <div id="slideshow" class="sliders">
    <div class="active-slide slide">
      <%= image_tag "Slider1Pictures/1.jpg", class:"image" %>
      <div class="slider-data-text">
        <div class="slider-heading">
          <%= t :second_opinion %>
        </div>
        <div class="slider-text mt-2 mr-5 ml-5">
          <%=   t  :slider_one %>
        </div>
        <a href="<%= contact_path%>">
        <button class="btns btns-submit mt-5">
          <%= t :ask_plus_one_expert %>
        </button>
        </a>
      </div>

    </div>
    <div class="slide">
      <%= image_tag "Slider1Pictures/2.jpg", class:"image" %>
      <div class="slider-data-text">
        <div class="slider-heading">
          <%= t  :second_opinion %>
        </div>
        <div class="slider-text mt-2 mr-5 ml-5">
          <%= t  :slider_two %>
        </div>
        <a href="<%= contact_path%>">
        <button class="btns btns-submit mt-5">
          <%= t :ask_plus_one_expert %>
        </button>
        </a>
      </div>
    </div>
    <div class="slide">
      <%= image_tag "Slider1Pictures/3.jpg", class:"image" %>
      <div class="slider-data-text">
        <div class="slider-heading">
          <%= t :second_opinion %>
        </div>
        <div class="slider-text mt-2 mr-5 ml-5">
          <%= t  :slider_three %>
        </div>
        <a href="<%= contact_path%>">
        <button class="btns btns-submit mt-5">
          <%= t :ask_plus_one_expert %>
        </button>
        </a>
      </div>
    </div>
  </div>
  <section class="services-section  <%= is_arabic? ? 'text-right-custom': '' %>" style="direction: ltr">
    <div class="services-container">
      <div class="services-item">
        <div class="services-icon">
          <%=image_tag  'WorldRenownExperts.png', class:'services-image-icons'%>
        </div>
        <div class="services-detail">
          <div class="services-heading heading-s">
            <%= t :world_renowned_experts %>
          </div>
          <div class="services-text">
            <%#= t  :slider_description %>

          </div>
        </div>
      </div>
      <div class="services-item">
        <div class="services-icon">
          <%=image_tag  'workflow.png', class:'services-image-icons'%>
        </div>
        <div class="services-detail">
          <div class="services-heading heading-s">
            <%= t :trustful_workflow %>

          </div>
          <div class="services-text">
            <%#= t  :slider_description %>
          </div>
        </div>
      </div>
      <div class="services-item">
        <div class="services-icon">
          <%=image_tag  'Timely.png', class:'services-image-icons'%>
        </div>
        <div class="services-detail services-detail-border-none">
          <div class="services-heading heading-s">
            <%= t  :timely_consultations %>

          </div>
          <div class="services-text">
            <%#= t  :slider_description %>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--  <section class="slider-three  <%#= is_arabic? ? 'text-right-custom': '' %>">-->
<!--    <div class="slider-three-background-image-container">-->
<!--      <div class="slider-background-layer">-->
<!--      <div class="slider-two-text-container">-->
<!--        <div class="health-card-heading heading-white">-->
          <%#= t  :vision %>
<!--        </div>-->
<!--        <div class="health-card-text white-text-md">-->
          <%#= t  :vision_text %>

<!--        </div>-->
<!--      </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
  <section class="slider-two  <%= is_arabic? ? 'text-right-custom': '' %>">
    <div class="slider-two-background-image-container">
      <div class="slider-background-layer">
      <div class="slider-two-text-container">
        <div class="health-card-heading heading-white">
          <%= t  :world_renowned_experts %>
        </div>
        <div class="health-card-text white-text-md">
          <%= t  :our_experts %>.
          <%= t  :case_manager %>

        </div>
      </div>
      </div>
    </div>
  </section>

  <section class="counter-container <%= is_arabic? ? 'text-right-custom': '' %>">
    <div class="counter-back-image">
      <div class="counter-background-color-blue">
        <div class="counter-item">
          <div class="counter-item-image-container ">
            <%=image_tag 'Slider4/Oncology .png' %>
          </div>
          <div class="count counter-value">
            25
          </div>
          <div class="counter-name">
            <%= t  :oncologists %>
          </div>
        </div>
        <div class="counter-item">
          <div class="counter-item-image-container">
            <%=image_tag 'Slider4/Neuro.png' %>
          </div>
          <div class="count counter-value">
            12
          </div>
          <div class="counter-name">
            <%= t   :neurologists %>
          </div>
        </div>
        <div class="counter-item">
          <div class="counter-item-image-container">
            <%=image_tag 'Slider4/Ortho.png' %>
          </div>
          <div class="count counter-value">
           9
          </div>
          <div class="counter-name">
            <%= t  :orthopedics%>
          </div>
        </div>
        <div class="counter-item">
          <div class="counter-item-image-container ">
            <%=image_tag 'Slider4/Gyna.png' %>
          </div>
          <div class="count counter-value">
            5
          </div>
          <div class="counter-name">
           <%= t   :gynecologists %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slider-four  <%= is_arabic? ? 'text-right-custom': '' %>">
    <div class="slider-four-background-image-container">
      <div class="slider-background-layer">
      <div class="slider-two-text-container">
        <div class="health-card-heading heading-white">
          <%= t  :timely_consultations %>
        </div>
        <div class="health-card-text white-text-md">
          <%= t  :timely_cont_text %>

        </div>
      </div>
    </div>
    </div>
  </section>

  <section class="slider-five <%= is_arabic? ? 'text-right-custom': '' %>">
    <div class="slider-five-background-image-container">
      <div class="slider-two-text-container">
        <div class="health-card-heading">
          <%= t  :case_no %>
        </div>
        <div class="health-card-text gray-text">
          <%= t  :case_text %>

        </div>
      </div>
    </div>
  </section>
  <section class="slider-six <%= is_arabic? ? 'text-right-custom': '' %>">
    <div class="slider-six-background-image-container">
      <div class="slider-background-layer">
      <div class="slider-two-text-container">
        <div class="health-card-heading heading-white">
          <%= t  :trustful_workflow %>
        </div>
        <div class="health-card-text white-text-md">
          <%= t  :trustful_workflow_text%>

        </div>
      </div>
      </div>
    </div>
  </section>

  <section class="slider-seven <%= is_arabic? ? 'text-right-custom': '' %>" >

    <div class="slider-seven-background-image-container">
      <%=image_tag ('TheSlider.png'),class: 'slider-seven-image' %>
      <div class="slider-two-text-container learn-more-button">
        <a href="<%= contact_path%>">
        <div class="btns btns-submit mt-4 text-center">
          <%= t  :learnMore %>
        </div>
        </a>
      </div>
    </div>
  </section>

  <section class="slider-eight <%= is_arabic? ? 'text-right-custom': '' %>">
    <div class="slider-eight-background-image-container">
      <div class="slider-two-text-container">
        <div class="health-card-heading">
          <%= t  :seeking %>
        </div>
        <a href="<%= contact_path%>">
        <div class="btns btns-submit mt-4 text-center">
          <%= t  :startHere %>
        </div>
        </a>
      </div>
    </div>
  </section>

</main>
<!--<a href="<%#= new_booking_path%>"> Create booking</a>-->
