
<% provide(:title, 'Booking') %>



<div class="container" style="padding:100px;">

  <h1 id="headings">Booking Requets</h1>
  <hr>
  <span id="helpBlock" class="help-block"></span>



  <%= form_for(@booking, :html=>{:remote=>true}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
       <%= f.label :first_name, style: "padding-top:7px; font-weight:bold; font-size:20px;" %>
        </div>
      <div class="form-group">
        <%= f.text_field :first_name, class: 'form-control form-control-user', id: "exampleFirstName", placeholder: "First Name" %>
      </div>

      <div class="form-group">
        <%= f.label :second_name, style: "padding-top:7px; font-weight:bold; font-size:20px;" %>
      </div>

      <div class="form-group">
        <%= f.text_field :second_name, class: 'form-control form-control-user', id: "exampleLastName", placeholder: "Last Name" %>
      </div>

      <div class="form-group">
        <%= f.label :email, style: "padding-top:7px; font-weight:bold; font-size:20px;" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, class: "form-control form-control-user", id: "exampleInputEmail", placeholder: "Email Address" %>
      </div>

      <div class="form-group">
        <%= f.label :phone, style: "padding-top:7px; font-weight:bold; font-size:20px;" %>
      </div>

      <div class="form-group">
        <%= f.number_field :phone, class: "form-control form-control-user", id: "exampleInputPhone", placeholder: "Phone Number" %>
      </div>

      <div class="form-group">
        <%= f.label :disease_type, style: "padding-top:7px; font-weight:bold; font-size:20px;" %>
      </div>

      <div class="form-group">
        <%= f.text_field :disease_type, class: "form-control form-control-user", id: "exampleInputIndication", placeholder: "Disease type" %>
      </div>

      <div class="form-group">
        <%= f.label :inquiry, style: "padding-top:7px; font-weight:bold; font-size:20px;" %>
      </div>

      <div class="form-group">
        <%= f.text_area :inquiry, class: "form-control form-control-user",rows: "5", cols: "10",placeholder: "Inquiry", style: "resize:none;" %>
      </div>

      <%= f.submit "Save Changes", class: "btn btn-primary btn-user btn-block", id: "submit-button" %>
  <% end %>

</div>
