<!!DOCTYPE html>
<html>
  <head>
    <title>PlusOne</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  </head>

  <body>
  <div class="">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= render partial: 'shared/header'%>
    <%= yield %>
    <%= render partial: 'shared/footer'%>
  </div>
  <script>
      var iti = $("#phone").intlTelInput({
        formatOnInit: true,
        separateDialCode: true,
        nationalMode: true,
      });
      $("#slideshow").slick({
          infinite: true,
          autoplaySpeed: 4000,
          autoplay: true,
      });
      $("#slideshow-2").slick({
          infinite: true,
          autoplaySpeed: 600,
          autoplay: true,
      });
      $('.move-up').click(function () {

          $("html, body").animate({scrollTop: 0}, 900);
      })


      $('.language-change').change(function (e) {
          console.log("contact")
          $('#language-change').val(e.target.value);
          window.location.replace(`${window.location.pathname}?locale=${e.target.value}`);
      })
      
       $("#new_booking").on('submit', function(){
         var phone_number = $("#phone").intlTelInput("getNumber")
         $("#phone")[0].value = phone_number
      });
      var getUrlParameter = function getUrlParameter(sParam) {
          var sPageURL = window.location.search.substring(1),
              sURLVariables = sPageURL.split('&'),
              sParameterName,
              i;

          for (i = 0; i < sURLVariables.length; i++) {
              sParameterName = sURLVariables[i].split('=');

              if (sParameterName[0] === sParam) {
                  return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
              }
          }
      };
      var local ='<%= session[:locale] %>';
      if(local) {
          $('.language-change').val(local);
      }
  </script>
  </body>
</html>
